{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block title %}Sociant Hub ~ Feedback / Contact{% endblock %}

{% block body %}
    <div id="content">
        <div class="container">
            <h1 class="page-title">Feedback - <span>Contact</span></h1>
            Feel free to contact us or to provide feedback
            {% if submitted %}
            <br><div class="green-card">
                Your message has been sent.
            </div>
            {% endif %}
            {{ form_start(form) }}
                {{form_row(form.name)}}
                {{form_row(form.email)}}
                {{form_row(form.type)}}
                {{form_row(form.message)}}
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_public }}"></div>
                {{form_row(form.submit)}}
            {{ form_end(form) }}
            <small>By submitting the contact form, you consent to the processing of your data collected in this form. You have taken note of the data protection declaration and agree that the data you provide will be collected and stored electronically. Your data will only be used for the specific purpose of processing and answering your query and will only be stored for as long as is necessary for processing and answering your query or other legal requirements.</small>
        </div>
    </div>

{% endblock %}