{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block navigation %}
{% include "panel/elements/navigation.html.twig" with {"mainpage":true} %}
{% endblock %}

{% block footer %}
{% include "panel/elements/footer.html.twig" with {"mainpage":true} %}
{% endblock %}

{% block title %}Sociant Hub - Know your followers{% endblock %}

{% block body %}
<div id="mainpage">
    <div class="purple">
        <div class="container">
            <div class="row mainpage-top">
                <div class="column description">
                    <h1>Analyze your account with <span>Sociant Hub</span></h1>
                    <div class="text">Sociant Hub is the easiest way to track and analyze your followers and unfollowers. Find out more about your account and your followers now.</div>
                    <a class="login" href="{{ path("login") }}"><i class="fab fa-twitter"></i> Sign in with Twitter</a>
                </div>
                <div class="column image">
                    <img src="{{ asset("/assets/images/mainpage-top.png") }}">
                </div>
            </div>
        </div>
    </div>
    <div class="white">
        <div class="container">
            <div class="row overview reversed">
                <div class="column image">
                    <img src="{{ asset("/assets/images/mainpage-overview.png") }}">
                </div>
                <div class="column description">
                    <h2>Everything at a <span>glance</span></h2>
                    <div class="text">See who and when follows and unfollows you, analyze your growth and learn more about your followers. You can decide how often Sociant Hub should search for new followers and unfollowers or you can do it by your own in your personal panel.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row overview">
            <div class="column description">
                <h2>Know your <span>followers</span></h2>
                <div class="text">Wether you want to find out how many followers are verified, who is the oldest account or how many tweets your followers have in total, Sociant Hub calculates everything for you so you can sit back and relax.</div>
            </div>
            <div class="column image">
                <img src="{{ asset("/assets/images/mainpage-stats.png") }}">
            </div>
        </div>
    </div>
    <div class="white">
        <div class="container">
            <div class="row bottom">
                <div class="column description">
                    <h2>Try it out now</h2>
                    <div class="text">All you need to do is sign in with Twitter and setup your account within 30 seconds.</div>
                    <a class="login" href="{{ path("login") }}"><i class="fab fa-twitter"></i> Sign in with Twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}