{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Sociant Hub ~ All Activities{% endblock %}

{% block body %}
    <div id="content">
        <div class="container">
            <a href="{{ path("panel_home") }}" class="page-return"><i class="fa fa-chevron-left"></i>Back</a>
            <div class="page-title"><span>{{ app.user.twitterUser ? app.user.twitterUser.name : app.user.twitterUserScreenName }}'s</span> Activities</div>
            <div class="row">
                <div class="column">
                    {% if activities | length == 0 %}
                    <div class="empty-info">
                        Sit tight, we're still crawling your statistics.
                    </div>
                    {% endif %}
                    {% for item in activities %}
                        <a{% if item.twitterUser %} target="_blank" href="https://twitter.com/{{ item.twitterUser.screenName }}"{% endif %} class="user-card">
                            {% if item.twitterUser %}
                            <div class="image" style="background-image: url({{ item.twitterUser.profileImageURL | replace({"_normal":""}) }})"></div>
                            <span class="name">{{ item.twitterUser.name }}<small>@{{ item.twitterUser.screenName }}</small></span>
                            {% else %}
                            <div class="image" style="background-image: url(https://abs.twimg.com/sticky/default_profile_images/default_profile.png)"></div>
                            <span class="name">{{ item.uuid }}</span>
                            {% endif %}
                            <div class="datestamp">
                                <span>{{ item.timestamp | date("H:i m/d/Y") }}</span>
                                {% if item.action == "unfollow_self" %}
                                <small>you unfollowed</small>
                                {% elseif item.action == "unfollow_other" %}
                                <small>unfollowed you</small>
                                {% elseif item.action == "follow_self" %}
                                <small>you followed</small>
                                {% elseif item.action == "follow_other" %}
                                <small>followed you</small>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}