<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sociant Hub - Know your followers{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("/assets/css/panel.css") }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
        {% endblock %}

        <meta name="description" content="The easiest way to track and analyze your followers and unfollowers. Find out more about your account and your followers now.">
        <meta name="robots" content="index, follow"> 
        <meta name="keywords" content="sociant,hub,followers,twitter,unfollowers,tracking,analytics,analyze,dashboard,graph,fast,reliable">

        <meta property="og:title" content="Sociant Hub - Know your followers" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://hub.sociant.de/" />
        <meta property="og:image" content="{{ absolute_url("/assets/images/socialMedia.jpg") }}" />
        <meta property="og:description" content="The easiest way to track and analyze your followers and unfollowers. Find out more about your account and your followers now." />
        <meta property="og:site_name" content="Sociant Hub - Know your followers" />

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@SociantWD">
        <meta name="twitter:title" content="Sociant Hub - Know your followers">
        <meta name="twitter:description" content="The easiest way to track and analyze your followers and unfollowers. Find out more about your account and your followers now.">
        <meta name="twitter:creator" content="@SociantWD">
        <meta name="twitter:image" content="{{ absolute_url("/assets/images/socialMedia.jpg") }}">

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
        <link rel="manifest" href="/assets/icons/site.webmanifest">
        <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/assets/icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        {% block javascripts_head %}
        {% block analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167464741-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167464741-1');
        </script>
        {% endblock %}

        <script src="https://kit.fontawesome.com/2bd4ca0a41.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body class="{{ app.request.cookies.get("darkmode") | default("") }}{{ ignore is defined ? " ignore" : "" }}">
        <div id="website">
        {% block navigation %}
        {% include "panel/elements/navigation.html.twig" %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
        {% include "panel/elements/footer.html.twig" %}
        {% endblock %}
        </div>
        {% block javascripts %}
        <script src="{{ asset("/assets/js/core.js") }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
        {% endblock %}
    </body>
</html>